@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
/* line 4, ../_sass/pages/_error.scss */
#error404 {
  color: white;
  text-align: center;
  padding-bottom: 60px;
  background: #2f87b9 url("../images/pat_blueprint_light.png") repeat;
}
/* line 9, ../_sass/pages/_error.scss */
#error404 h1 {
  font-size: 455px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
/* line 16, ../_sass/pages/_error.scss */
#error404 .error_message {
  font-size: 39px;
  font-weight: 700;
}
