---
layout: inner
title: Our Team
menu_title: Our Team
description: "Jettoughts is a friendly team of Ruby on Rail developers, testers and project managers. We are skilled professionals united by a desire to continue delivering effective solutions to satisfied clients. We are passionate about technology, coding and Agile process. We enjoy working together and developing great applications for your success."
group: "navigation"
menu_position: 2
---

<div class="team_wrap">
  <div class="row">
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
  </div>
</div>
