---
layout: inner
title: Our Team
menu_title: Our Team
description: "Donec a velit blandit, aliquet quam et, commodo augue. Donec volutpat ornare suscipit. Sed nec malesuada nibh. Duis dapibus eros quam. Praesent porttitor purus augue, a tristique tortor lobortis id."
group: "navigation"
menu_position: 2
---

<div class="team_wrap">
  <div class="row">
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
    <div class="columns large-6">
      {% include sections/team/paul.html %}
    </div>
  </div>
</div>