$white: #fff;
$light: darken($white,3%);
$black: #000;

$light_gray: #f3f3f3;
$explicit_gray: #ebebeb;
$sand: #efefe7;
$dark_sand: #e1e1d9;
$light_gray_3: #d9d9d9;
$light_gray_2: #c4c4c4;
$gray: #99a3a4;
$gray_shadow: #808b8d;
$dirty_brown: #62564a;
$text_brown: #615648;
$light_brown: #94846e;


$modern_green: #2dcc70;
$green_shadow: #4fae76;


$deep_blue: #1b2b38;
$deep_ocean: #102f44;
$dark_blue: #2c3d4f;
$blue: #2f87b9;
$dirt_blue: #666f80;
$light_blue: #bfdcff;


$orange: #ff8448;
$orange_shadow: #e67740;


$light_red: #ebb9ba;
$red_error: #eab9b9;
$red: #e66b64;
