$white: #fff;
$light: darken($white,3%);


$light_gray: #f3f3f3;
$explicit_gray: #ebebeb;
$sand: #efefe7;
$dark_sand: #e1e1d9;
$gray: #99a3a4;
$gray_shadow: #808b8d;
$dirty_brown: #62564a;


$moder_green: #2dcc70;
$green_shadow: #4fae76;


$deep_blue: #1b2b38;
$deep_ocean: #102f44;
$dark_blue: #2c3d4f;
$blue: #2f87b9;


$orange: #ff8448;
$orange_shadow: #e67740;


$light_red: #ebb9ba;
$red: #e66b64;
