.form_input {
  color: $dark_blue;
  border-color: $light_gray_3;
  border-radius: $radius;
  @include box-shadow(none);
  &:focus {
    color: $dark_blue;
  }
  &.error {
    color: $white;
    background: $red_error;
    border-color: $red_error;
    &:focus {
      color: $red_juicy;
    }
  }
}

.form_label {
  font-size: 0.95em;
  color: $dirt_blue_lighter;
  line-height: 200%;
}

.validation_input {
  position: relative;
  .validate_text {
    &.error {
      font-size: 0.8em;
      font-weight: 300;
      color: $red;
      line-height: 1.5em;
      display: block;
      vertical-align: middle;
      padding-left: 40px;
      padding-right: 15px;
      position: absolute;
      right: 3px;
      top: 3px;
      bottom: 3px;
      background: $white;
      border-radius: $radius;
      margin: 0;
      &:after {
        content: " ";
        @extend .icons-warn;
        position: absolute;
        left: 10px;
        top: 8px;
        width: 16px;
        height: 15px;
      }
    }
  }
}

.textarea {
  @include lato(0.8em);
  font-weight: 300;
  padding: 15px;
  color: $gray;
  border-color: $explicit_gray;
  background: $explicit_gray;
  border-radius: $radius;
  min-height: 240px;
  resize: vertical;
  @include box-shadow(none);
}
