[class^="icons"] {
  text-indent: -9999px;
  @include inline-block(middle);
}

.icons-webapp {
  width: 63px;
  height: 60px;
}

.icons-mobile {
  width: 37px;
  height: 60px;
}

.icons-scales {
  width: 61px;
  height: 61px;
}

.icons-brain {
  width: 71px;
  height: 78px;
}

.icons-binder {
  width: 11px;
  height: 24px;
}

.icons-moneybag {
  width: 30px;
  height: 50px;
}

.icons-tools {
  width: 52px;
  height: 51px;
}

.icons-phone {
  width: 16px;
  height: 16px;
}

.icons-photo {
  width: 48px;
  height: 34px;
}

.icons-mail {
  width: 14px;
  height: 12px;
}

.icons-mic {
  width: 37px;
  height: 60px;
}

.icons-location {
  width: 11px;
  height: 15px;
}

.partners-logo_authorize {
  width: 166px;
  height: 31px;
}

.partners-logo_braintree {
  width: 157px;
  height: 40px;
}

.partners-logo_paypal {
  width: 115px;
  height: 32px;
}

.partners-logo_stripe {
  width: 90px;
  height: 38px;
}

.partners-logo_visa {
  width: 75px;
  height: 25px;
}

.icons-facebook_small {
  width: icons-sprite-width(facebook_small);
  height: icons-sprite-height(facebook_small);
}

.icons-twitter_small {
  width: icons-sprite-width(twitter_small);
  height: icons-sprite-height(twitter_small);
}

.icons-linkedin {
  width: icons-sprite-width(linkedin);
  height: icons-sprite-height(linkedin);
}

.icons-comment {
  width: icons-sprite-width(comment);
  height: icons-sprite-height(comment);
}

.icons-facebook_large {
  width: icons-sprite-width(facebook_large);
  height: icons-sprite-height(facebook_large);
}

.icons-twitter_large {
  width: icons-sprite-width(twitter_large);
  height: icons-sprite-height(twitter_large);
}

.icons-linkedin_large {
  width: icons-sprite-width(linkedin_large);
  height: icons-sprite-height(linkedin_large);
}
