.basic_text {
  font: {
    family: "PT Sans", "Myriad Pro", sans-serif;
    size: 18px;
    weight: 400;
  }
  line-height: 24px;
}

.white {
  color: $white;
}

.inner {
  .article {
    .heading_one {
      @include proxima(48px);
      line-height: 48px;
      color: $dark_blue;
    }
    .message {
      @include proxima(22px);
      line-height: 30px;
      text-align: center;
      color: $dark_blue;
    }
  }
}

.list {
  @extend .basic_text;
  font-size: 12px;
  padding: 0;
  list-style: none;
  .list_item {
    >a {
      text-decoration: underline;
    }
  }
}
// Headings

.h1 {
  @include proxima(2.5em);
  line-height: 1em;
  color: $dark_blue;
  margin: emCalc(20px) 0 emCalc(10px);
}

.heading_one, h1 {
  @extend .h1;
}

h2,
.heading_two {
  @extend .h1;
  font-size: emCalc(20px);
}

h3,
.heading_three {
  @extend .h1;
  font-size: emCalc(18px);
}

h4,
.heading_four {
  @extend .h1;
  font-size: emCalc(16px);
}

h5,
.heading_five {
  @extend .h1;
  font-size: emCalc(14px);
}

h6,
.heading_six {
  @extend .h1;
  font-size: emCalc(13px);
  font-weight: 700;
}

.table {
  @include myriad(12px);
  border: none;
  width: 100%;
  .tr {
    background: none;
  }
  .th {
    font-weight: 700;
    text-align: left;
  }
  .th,
  .td {
    border-bottom: 1px solid $light_gray;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .td {
    padding-right: 10px;
  }
}

.notice {
  font-size: 13px;
  color: $dirt_blue;
  background: $explicit_gray;
  padding: 20px 10px;
  border-radius: $radius;
}

code {
  font-weight: 400;
}

.highlighttable {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;
  @extend .box;
  pre {
    white-space: pre;
  }
  .linenodiv {
    font-size: 11px;
    color: $explicit_gray;
  }
}
//.highlight {
//  padding: 20px;
//  margin-bottom: 1.25em;
//}
