body {
  @include lato(1.111em);
  font-weight: normal;
  word-spacing: 0.1em;
}

$verb: 'verb_extraboldregular', sans-serif;
$lato: "Lato",sans-serif;
.basic_text {
  font: {
    family: "Lato",sans-serif;
    size: 1em;
    weight: 300;
  }
}

.white {
  color: $white;
}

p {
  font-weight: 400;
  line-height: 150%;
}

b {
  font-weight: 600;
}

strong {
  font-weight: 700;
}

.inner {
  .article {
    .heading_one {
      @include lato(2.25em);
      font-weight: 900;
      line-height: 140%;
      color: $dark_blue;
    }
    .message {
      @include lato(1.15em);
      line-height: 30px;
      text-align: center;
      color: $dark_blue;
    }
  }
}

.list {
  @extend .basic_text;
  font-size: 12px;
  padding: 0;
  list-style: none;
  .list_item {
    >a {
      text-decoration: underline;
    }
  }
}
// Headings

.h1 {
  @include lato(2.5em);
  line-height: 1em;
  color: $dark_blue;
  margin: 14px 0 10px;
}

.heading_one, h1 {
  @extend .h1;
}

h2,
.heading_two {
  @extend .h1;
  font-size: 2.3em;
}

h3,
.heading_three {
  @extend .h1;
  font-size: 1.45em;
}

h4,
.heading_four {
  @extend .h1;
  font-size: emCalc(16px);
}

h5,
.heading_five {
  @extend .h1;
  font-size: emCalc(14px);
}

h6,
.heading_six {
  @extend .h1;
  font-size: emCalc(13px);
  font-weight: 700;
}

.table {
  border: none;
  width: 100%;
  .tr {
    background: none;
  }
  .th {
    font-weight: 700;
    text-align: left;
  }
  .th,
  .td {
    font-size: 0.75em;
    border-bottom: 1px solid $light_gray;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .td {
    padding-right: 10px;
  }
}

.notice {
  font-size: 0.75em;
  color: $dirt_blue;
  background: $explicit_gray;
  padding: 20px 10px;
  border-radius: $radius;
}

code {
  font-weight: 400;
}

.highlighttable {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;
  @extend .box;
  pre {
    white-space: pre;
  }
  .linenodiv {
    font-size: 11px;
    color: $explicit_gray;
  }
}
//.highlight {
//  padding: 20px;
//  margin-bottom: 1.25em;
//}
