.basic_text {
  font: {
    family: "PT Sans", "Myriad Pro", sans-serif;
    size: 18px;
    weight: 400;
  }
  line-height: 24px;
}

.inner {
  .article {
    .heading_one {
      @include proxima(48px);
      line-height: 48px;
      color: $dark_blue;
    }
    .message {
      @include proxima(22px);
      line-height: 30px;
      text-align: center;
      color: $dark_blue;
    }
  }
}

.table {
  @include myriad(12px);
  border: none;
  width: 100%;
  .tr {
    background: none;
  }
  .th {
    font-weight: 700;
    text-align: left;
  }
  .th,
  .td {
    border-bottom: 1px solid $light_gray;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .td {
    padding-right: 10px;
  }
}