$button_min_width: 190px;

.link {
  border-bottom: 1px solid transparent;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.link_underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.button {
  font-size: 21px;
  border: none;
  padding: 12px 20px;
  min-width: $button_min_width;
  background: $orange;
  border-radius: 3px;
  @include box-shadow(0 4px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_super {
  font-size: 32px;
  font-weight: 700 !important;
  background: $orange;
  border-radius: 13px;
  padding-left: 4em;
  padding-right: 4em;
  @include box-shadow(0 9px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_extraordinary {
  background: $orange;
  @include box-shadow(0 4px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_primary {
  background: $modern_green;
  @include box-shadow(0 4px 0 $green_shadow);
  &:hover {
    background: $green_shadow;
  }
}

.button_ordinary {
  background: $explicit_gray;
  @include box-shadow(0 4px 0 $light_gray_3);
  &:hover {
    background: $light_gray_3;
  }
}

.button_gray {
  background: $gray;
  @include box-shadow(0 4px 0 $gray_shadow);
  &:hover {
    background: $gray_shadow;
  }
}

.button_dark {
  background: $dark_blue;
  @include box-shadow(0 4px 0 $deep_ocean);
  &:hover {
    background: $deep_ocean;
  }
}

.button_large {
  @extend .large-8;
}

$circle_icon_diameter: 102px;
$circle_mid_icon_diameter: 94px;
$circle_small_icon_diameter: 64px;
.icon_circle {
  text-align: center;
  line-height: $circle_icon_diameter;
  vertical-align: middle;
  width: $circle_icon_diameter;
  height: $circle_icon_diameter;
  overflow: hidden;
  border: 1px solid $white;
  border-radius: ceil($circle_icon_diameter/2);
  &.green {
    background: $modern_green;
  }
  &.mid {
    width: $circle_mid_icon_diameter;
    height: $circle_mid_icon_diameter;
    line-height: $circle_mid_icon_diameter;
    border-radius: ceil($circle_mid_icon_diameter/2);
    >[class*="icon"] {
      line-height: $circle_mid_icon_diameter;
    }
  }
  >[class*="icon"] {
    @include inline-block(middle);
    line-height: $circle_icon_diameter;
    vertical-align: middle;
  }
}

.pagination {
  text-align: center;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  .page_item {
    @include inline-block;
    margin: 0 2px;
    &.active {
      .page_link {
        background: lighten($modern_green,15%);
        border-top: 3px solid lighten($green_shadow,10%);
      }
    }
    .page_link {
      @include myriad(16px);
      font-weight: 400;
      color: $white;
      text-align: center;
      display: block;
      min-width: 40px;
      background: $gray_shadow;
      padding: 6px 4px 6px;
      border-radius: $radius;
      border-top: 3px solid lighten($dirt_blue,5%);
      &:hover {
        background: $orange;
        border-top: 3px solid $orange_shadow;
      }
    }
  }
}
