<section class="catch_section">
  <div class="row">
    <div class="large-12 column">
      <div class="map_wrap">
        <img src="images/map.png" alt="JetThoughts" />
        <div class="map_message">

          <h2 class="big_heading">Hello World!</h2>

          <h3 class="sub_heading">We are JetThoughts and we develop Ruby on Rails projects.</h3>

          <p class="message">We are 5 year in the market, we are ruby on rails developers, we are experienced, focused, client-oriented, we are ruby on rails contributors, love agile.</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="s_footer dark_bg">
    <div class="row">
      <div class="large-12 columns">
        <p class="message text-center">
          We are a team of highly qualified Ruby on Rails developers, designers and managers. JetThoughts has been in the highly-competitive software and web development markets of USA, Europe and Australia for 5 years, delivering a broad portfolio of services. We are headquartered in beautiful Nevada, USA.
        </p>
      </div>
    </div>
  </footer>
</section>
