<section class="clients_section">
  <div class="row">
    <header class="s_header">
      <h1 class="heading_one">Our Clients</h1>

      <p>We deliver top-notch service to clients all around the world. We’re proud of our work and would like to share
        some of the praise we’re receiving with you!</p>
    </header>

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$" data-options="navigation_arrows: false">
        <li class="slide_item">

          <div class="row">
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Playjoiner</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Abdullah</span>, <span class="position">Co-founder of <a href="#airbrake">Playjoiner</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava_02.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Airbrake</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Ivan Tolmachev</span>, <span class="position">Interaction Designer at <a href="#airbrake">Airbrake</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
          </div>

        </li>
        <li class="slide_item">

          <div class="row">
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Playjoiner</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Abdullah</span>, <span class="position">Co-founder of <a href="#airbrake">Playjoiner</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava_02.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Airbrake</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Ivan Tolmachev</span>, <span class="position">Interaction Designer at <a href="#airbrake">Airbrake</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
          </div>

        </li>
        <li class="slide_item">

          <div class="row">
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Playjoiner</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Abdullah</span>, <span class="position">Co-founder of <a href="#airbrake">Playjoiner</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
            <div class="columns large-6">
              <div class="box client_item">
                <div class="columns large-2 text-center">
                  <img class="ava" src="images/ava_02.jpg" alt="ava"/>
                  <a class="button" href="#playjoiner">Airbrake</a>
                </div>
                <div class="columns large-4">
                  <blockquote>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa illum iusto nam optio velit? Aut
                      debitis dolorem illum in ipsa officiis similique veniam voluptatem? Debitis ducimus ipsam labore
                      maxime quam.</p>

                    <cite>
                      <span class="author">Ivan Tolmachev</span>, <span class="position">Interaction Designer at <a href="#airbrake">Airbrake</a></span>
                    </cite>
                  </blockquote>

                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>

</section>