<section class="contacts_section">
  <header class="s_header">
    <h1 class="heading_one">Get In Touch</h1>
  </header>
  <div class="address">
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-location"></i>
      </div>

      <div class="address_wrap">
        101 West Street, New York, NY100123
      </div>
    </div>
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-phone"></i>
      </div>

      <div class="address_wrap">
        <a class="tel_link" href="callto:+18885555555">+1-999-555-5555</a> <br>
        <a class="tel_link" href="callto:+18885555555">+1-999-555-5555</a>
      </div>
    </div>
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-mail"></i>
      </div>

      <div class="address_wrap">
        <a class="link" href="mailto:support@jetthoughts.com">support@jetthoughts.com</a> <br>
        <a class="link" href="mailto:info@jetthoughts.com">info@jetthoughts.com</a>
      </div>
    </div>
  </div>
</section>