<section class="contacts_section">
  <header class="s_header">
    <h1 class="heading_one">Get In Touch</h1>
  </header>
  <div class="address">
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-location"></i>
      </div>

      <div class="address_wrap">
        2360 Corporate Circle STE 400 <br>
        Henderson 89074-7722 NV, USA
      </div>
    </div>
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-phone"></i>
      </div>

      <div class="address_wrap">
        <a class="tel_link" href="callto:+17602644264">+1 (760) 264-4264</a> <br>
      </div>
    </div>
    <div class="address_item">
      <div class="icon_wrap">
        <i class="icons-mail"></i>
      </div>

      <div class="address_wrap">
        <a class="link" href="mailto:info@jetthoughts.com">info@jetthoughts.com</a> <br>
        <a class="link" href="mailto:support@jetthoughts.com">contact@jetthoughts.com</a> <br>
        <a class="link" href="mailto:support@jetthoughts.com">cv@jetthoughts.com</a> <br>
      </div>
    </div>
  </div>
</section>
