<section class="recent_posts_section">
  <header class="s_header">
    <h1 class="heading_one">Recent posts</h1>
  </header>
  <ul class="posts_list">

    {% for post in site.posts limit:2 %}
    <li class="post_item">
      <a class="post_heading" href="{{ post.url }}">{{ post.title }}</a>

      <p>
        {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
        {% else %}
        {{ post.categories }}
        {% endif %}
      </p>
      <span class="post_date">{{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}

  </ul>
</section>
