<section class="contacts_section">
  <header><h1>Get In Touch</h1></header>
  <div class="address">
    <div class="address_item">
      <i class="icons-location"></i>
      101 West Street, New York, NY100123
    </div>
    <div class="address_item">
      <i class="icons-phone"></i>
      <a class="tel_link" href="callto:+18885555555">+1-999-555-5555</a>
      <a class="tel_link" href="callto:+18885555555">+1-999-555-5555</a>
    </div>
    <div class="address_item">
      <i class="icons-mail"></i>
      <a class="link" href="mailto:support@jetthoughts.com">support@jetthoughts.com</a>
      <a class="link" href="mailto:info@jetthoughts.com">info@jetthoughts.com</a>
    </div>
  </div>
</section>