<section class="mid_slider_section">
  <div class="row">

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$" data-options="animation:fade; variable_height:false" >
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-brain slider_icon"></i></div>
          <h2 class="heading_one">High-Grade Working Solutions</h2>


          <p class="slider_message">
            As Ruby on Rails contributors, our developers are constantly learning about the latest
            technologies, best practices and innovations. JetThoughts team leaders are
            experienced in managing international projects. Our project managers are fluent in
            English and have perfect communication skills.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-webapp slider_icon"></i></div>
          <h2 class="heading_one">High-Grade Working Solutions</h2>


          <p class="slider_message">
            As Ruby on Rails contributors, our developers are constantly learning about the latest
            technologies, best practices and innovations. JetThoughts team leaders are
            English and have perfect communication skills.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-binder slider_icon"></i></div>
          <h2 class="heading_one">High-Grade Working Solutions</h2>


          <p class="slider_message">
            As Ruby on Rails contributors, our developers are constantly learning about the latest
            technologies, best practices and innovations. JetThoughts team leaders are
            experienced in managing international projects. Our project managers are fluent in
            English and have perfect communication skills.
          </p>
        </li>
      </ul>
    </div>
  </div>

</section>
