<section class="mid_slider_section">
  <div class="row">

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$" data-options="variable_height:false; timer:false">
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-brain slider_icon"></i></div>
          <h2 class="heading_one">High-Grade Working Solutions</h2>

          <p class="slider_message">
            As Ruby on Rails contributors, our developers are constantly learning about the latest technologies, best practices and innovations. JetThoughts team leaders are experienced in managing international projects. Our project managers are fluent in English and have perfect communication skills.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-webapp slider_icon"></i></div>
          <h2 class="heading_one">Effective communication and reliable tech support</h2>

          <p class="slider_message">
            We believe in the importance of constant communication as an integral part of a daily work. Email, live chat, management software, video and audio conference calls help us keeping you up-to-date on your project. Besides, you get an explicit report from our project manager on a regular basis.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-binder slider_icon"></i></div>
          <h2 class="heading_one">Client-oriented approach</h2>

          <p class="slider_message">
            We customize our workflow to fit your budget, timeline, preferences and specific needs. Our efforts are directed towards producing great results that make conducting your business easier and more productive.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-binder slider_icon"></i></div>
          <h2 class="heading_one">Significant cost advantage</h2>

          <p class="slider_message">
            We understand your biggest concern and offer competitive prices. Whether you are hiring our dedicated project team or just one advanced Ruby on Rails developer, you are getting the best deal in the IT market.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="icons-binder slider_icon"></i></div>
          <h2 class="heading_one">Efficiency and reliability</h2>

          <p class="slider_message">
            Our vast experience can prove that working with JetThoughts is not only cost-effective, but also stress-free The highest standards of quality and data security are ensured by extensive protocols, processes and policies. Our detailed records keep track of every hour worked and every dollar spent.
          </p>
        </li>
      </ul>
    </div>
  </div>

</section>
