<section class="offer_section">

  <div class="row">
    <div class="">
      <header class="s_header">
        <h1 class="heading_one">What We Offer</h1>
      </header>

      <p class="message text-center">Are you about to start a new project from scratch?
        Do you need to boost your team’s productivity with an experienced developer?
        Are you experiencing problems with the project in progress?
        Whatever the case, JetThoughts services can improve quality and productivity in any stage of the work.
      </p>

    </div>

    <div class="panel">
      <div class="row">
        <div class="large-9 medium-9 columns">
          <h2 class="heading_two">Professionals</h2>

          <p class="message">We are a team of highly qualified Ruby on Rails developers, designers and managers.</p>
        </div>
        <div class="large-3 medium-3 columns text-center">
          <a class="button" href="team.html">See Our Team</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="columns large-4 medium-4">
      <div class="offer_block">
        <div class="heading">
          <div class="icon_circle"><i class="icons-webapp"></i></div>

          <div class="heading_wrap">
            <h3 class="heading_three">Web Apps</h3>
            <span class="subheading">Development</span>
          </div>
        </div>
        <p class="description">
          Our Ruby on Rails engineers are highly-qualified specialists with an extensive experience.
        </p>
        <p class="description">
          We are passionate about modern technologies and we are ready to share our enthusiasm with you. Our web applications are functional, user-friendly and customizable.
        </p>
      </div>
    </div>
    <div class="columns large-4 medium-4">
      <div class="offer_block">
        <div class="heading">
          <div class="icon_circle"><i class="icons-mobile"></i></div>

          <div class="heading_wrap">
            <h3 class="heading_three">Mobile Apps</h3>
            <span class="subheading">Development</span>
          </div>
        </div>
        <p class="description">
          The demand for mobile applications is sky-high.

        </p>

        <p class="description">
          The demand for mobile applications is sky-high. Mobile apps can be a great way for showcasing your business and reaching new markets. We accomplish adaptation for mobile devices (Android and iPhone) and create APIs for web and native applications. Mobile applications will be tailored exactly to your specific business requirements for enhanced functionality, efficiency, and value addition.
        </p>
      </div>
    </div>
    <div class="columns large-4 medium-4">
      <div class="offer_block">
        <div class="heading">
          <div class="icon_circle"><i class="icons-scales"></i></div>

          <div class="heading_wrap">
            <h3 class="heading_three">Database</h3>
            <span class="subheading">Design & Maintenance</span>
          </div>
        </div>
        <p class="description">
          JetThoughts provide custom database design and programming at reasonable prices. We will design, host and maintain your database, using PostgreSQL, MySQL, SQLite, MongoDB.  Our engineers are highly-skilled in the most current database architecture and development technologies.
        </p>

      </div>
    </div>
  </div>

</section>
