<section class="offer_section">

  <div class="row">
    <div class="">
      <header class="s_header">
        <h1 class="heading_one">What We Offer</h1>
      </header>

      <p>Are you about to start a new project from scratch? Do you need to boost your team’s productivity with a
        part-time
        developer? Are you experiencing problems with the project in progress?
        Whatever the case, JetThoughts services can improve quality and productivity in any stage of work.
      </p>

    </div>

    <div class="panel">
      <div class="row">
        <div class="large-9 columns">
          <h2 class="heading_two">Professionals</h2>

          <p>We are a team of highly qualified Ruby on Rails developers, designers and managers.</p>
        </div>
        <div class="large-3 columns">
          <a class="button text-center" href="team.html">See Our Team</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="columns large-4">
      <div class="offer_block">
        <div class="heading">
          <i class="icon_webapp"></i>

          <h3 class="heading_three">Web Apps</h3>
          <span class="subheading">Development</span>
        </div>
        <p class="decription">
          Our Ruby on Rails engineers are highly-qualified graduates with an extensive experience.
        </p>

        <p class="decription">
          We are passionate about modern technologies and we are ready to share our enthusiasm with you,
          creating powerful solutions for your business.
        </p>
      </div>
    </div>
    <div class="columns large-4">
      <div class="offer_block">
        <div class="heading">
          <i class="icon_mobile"></i>

          <h3 class="heading_three">Mobile Apps</h3>
          <span class="subheading">Development</span>
        </div>
        <p class="decription">
          The demand for mobile applications is sky-high.

        </p>

        <p class="decription">
          Mobile apps can be a great way for showcasing your business and reaching new markets. We accomplish adaptation
          for mobile devices (Android and iPhone) and create single APIs for web and native
          applications
        </p>
      </div>
    </div>
    <div class="columns large-4">
      <div class="offer_block">
        <div class="heading">
          <i class="icon_scales"></i>

          <h3 class="heading_three">Database</h3>
          <span class="subheading">Design & Maintenance</span>
        </div>
        <p class="decription">
          JetThoughts provide custom
          database design and programming at reasonable prices.
        </p>

        <p class="decription">
          We will design, host and maintain your database, using PostgreSQL, MySQL, Sqlite, Mongodb.
        </p>

        <p class="decription">
          Our engineers are highly-skilled in the most current database architecture and development
          technologies.
        </p>
      </div>
    </div>
  </div>

</section>