<section class="partners_section">
  <ul class="partners">
    <li class="partner"><span class="tech-ruby">Ruby</span></li>
    <li class="partner"><span class="tech-rails">Ruby on Rails</span></li>
    <li class="partner"><span class="tech-coffeescript">CoffeeScript</span></li>
    <li class="partner"><span class="tech-jquery">JQuery</span></li>
    <li class="partner"><span class="tech-mongodb">MongoDB</span></li>
    <li class="partner"><span class="tech-html5">HTML5</span></li>
    <li class="partner"><span class="tech-sass">Sass Lang</span></li>
    <li class="partner"><span class="tech-responsive">Responsive</span></li>
  </ul>
</section>