<section class="partners_section">
  <ul class="partners">
    <li class="partner"><span class="partners-logo_braintree">Braintree</span></li>
    <li class="partner"><span class="partners-logo_paypal">PayPal</span></li>
    <li class="partner"><span class="partners-logo_visa">Visa</span></li>
    <li class="partner"><span class="partners-logo_stripe">stripe</span></li>
    <li class="partner"><span class="partners-logo_authorize">Authorize</span></li>
    <li class="partner"><span class="partners-logo_braintree">Braintree</span></li>
    <li class="partner"><span class="partners-logo_paypal">PayPal</span></li>
  </ul>
</section>