<section class="slider_section">
  <div class="row">
    <header class="s_header">
      <h1 class="heading_one">We’re an IT Development and&nbsp;Software Solutions Provider</h1>
    </header>

    <div class="large-12 column">
      <div class="slider_wrap">
        <ul class="slider_list" data-orbit="$data-orbit$">
          <li class="slider_item">
            <img class="slide_img" src="images/projects/project_01.jpg" alt="project"/>

            <div class="orbit-caption">
              <p class="caption_p">
                Coach Alba helps you avoid crucial moments
                and keep your weight loss plan on track — all via text message! <br>
                <a href="https://coachalba.com/">https://coachalba.com/</a>
              </p>
            </div>
          </li>
          <li class="slider_item">
            <img class="slide_img" src="images/projects/project_02.jpg" alt="project"/>

            <div class="orbit-caption">
              <p class="caption_p">
                Coach Alba helps you avoid crucial moments
                and keep your weight loss plan on track — all via text message!
              </p>
            </div>
          </li>
          <li class="slider_item">

            <div class="orbit-caption">
              <p class="caption_p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eos error ex, in inventore ipsa iste,
                voluptatibus.
              </p>
            </div>
          </li>
        </ul>
        <div class="screen_overlay"></div>
      </div>
    </div>
  </div>

  <footer class="s_footer dark_bg">
    <div class="row">
      <div class="large-12 columns">
        <p class="message text-center">
          We are a team of highly qualified Ruby on Rails developers, designers and managers. JetThoughts has been in the highly-competitive software and web development markets of USA, Europe and Australia for 5 years, delivering a broad portfolio of services. We are headquartered in beautiful Nevada, USA with our main development center located in Donetsk, Ukraine.
        </p>
      </div>
    </div>
  </footer>
</section>
