<section class="slider_section">
  <div class="row">
    <header class="s_header">
      <h1 class="heading_one">We’re an IT Development and Software Solutions Provider</h1>
    </header>

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$">
        <li>
          <img src="images/projects/project_01.jpg" alt="project"/>

          <div class="orbit-caption">
            <p>
              Coach Alba helps you avoid crucial moments
              and keep your weight loss plan on track — all via text message!
              <a href="https://coachalba.com/">https://coachalba.com/</a>
            </p>
          </div>
        </li>
        <li>
          <img src="images/projects/project_02.jpg" alt="project"/>

          <div class="orbit-caption">
            <p>
              Coach Alba helps you avoid crucial moments
              and keep your weight loss plan on track — all via text message!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <footer class="s_footer">
    <div class="dark_bg">
      <div class="row">
        <div class="large-12 columns">
          <p class="text-center">
            At JetThoughts we develop Ruby on Rails projects, transforming your smart ideas and business needs into web
            and mobile applications. We engage our experience, enthusiasm and agile techniques to deliver the best
            solution. Our services are diverse, flexible and reasonably-priced. From private businesses to dynamic
            start-ups, we make our clients more competitive and efficient every day.
            <strong>Now we can do the same for you.</strong>
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>