<section class="slider_section">
  <div class="row">
    <header class="s_header">
      <h1 class="heading_one">We’re an IT Development&nbsp;and&nbsp;Software&nbsp;Solutions&nbsp;Provider</h1>
    </header>

    <div class="large-12 column">
      <div class="slider_wrap">
        <ul class="slider_list" data-orbit="$data-orbit$">
          <li class="slider_item">
            <img class="slide_img" src="images/projects/project_01.jpg" alt="project"/>

            <div class="orbit-caption">
              <p class="caption_p">
                Coach Alba helps you avoid crucial moments
                and keep your weight loss plan on track — all via text message! <br>
                <a href="https://coachalba.com/">https://coachalba.com/</a>
              </p>
            </div>
          </li>
          <li class="slider_item">
            <img class="slide_img" src="images/projects/project_02.jpg" alt="project"/>

            <div class="orbit-caption">
              <p class="caption_p">
                Coach Alba helps you avoid crucial moments
                and keep your weight loss plan on track — all via text message!
              </p>
            </div>
          </li>
          <li class="slider_item">

            <div class="orbit-caption">
              <h3 class="heading_three">Slider without background image</h3>

              <p class="caption_p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eos error ex, in inventore ipsa iste,
                laboriosam odio officia, optio quo repellendus saepe sequi similique tempora veritatis vero vitae
                voluptatibus.
              </p>
            </div>
          </li>
        </ul>
        <div class="screen_overlay"></div>
      </div>
    </div>
  </div>

  <footer class="s_footer dark_bg">
    <div class="row">
      <div class="large-12 columns">
        <p class="message text-center">
          At <strong>JetThoughts</strong> we develop Ruby on Rails projects, transforming your smart ideas and business
          needs into web
          and mobile applications. We engage our experience, enthusiasm and agile techniques to deliver the best
          solution. Our services are diverse, flexible and reasonably-priced. From private businesses to dynamic
          start-ups, we make our clients more competitive and efficient every day. <br><br>
          <strong>Now we can do the same for you.</strong>
        </p>
      </div>
    </div>
  </footer>
</section>