<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="columns large-3 medium-6">
        <div class="logo_wrap">
          <span class="logo">JetThoughts</span>
          <span class="copyright">© {{ site.time | date: "%Y" }}, All rights reserved</span>
        </div>
      </div>
      <div class="columns large-3 medium-6">
        {% include sections/footer_recent_posts.html %}
      </div>
      <div class="columns large-3 medium-6">
        {% include sections/footer_text.html %}
      </div>
      <div class="columns large-3 medium-6">
        {% include sections/footer_contacts.html %}
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">
        <div class="social_wrap">
          <hr class="hr">
          <span class="social_label">We are social:</span>
          <a class="social_icon icons-facebook" href="https://www.facebook.com/pages/JetThoughts/133760883361898?fref=ts">facebook</a>
          <a class="social_icon icons-twitter" href="https://twitter.com/jetthoughts">twitter</a>
          <a class="social_icon icons-linkedin-small" href="http://www.linkedin.com/company/jetthoughts">linkedin</a>
          <a class="social_icon icons-github" href="https://github.com/jetthoughts/">github</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/bower_components/jquery/jquery.js"></script>

<script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.accordion.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
<script type="text/javascript" src="/bower_components/fastclick/lib/fastclick.js"></script>
<script type="text/javascript">
  $(document).foundation({
    deep_linking: false
  });
  $(function() {
    FastClick.attach(document.body);
  });
</script>
{% include analytics.html %}
