<div class="top_menu_wrap">


  <div class="container">
    <nav class="top-bar row">
      <ul class="title-area">
        <li class="name">
          <a href="/" class="logo">Jet<strong>Thoughts</strong></a>
        </li>
        <li class="right-off-canvas-toggle menu_button">
          <a class="menu_button_wrap" href="#menu">
            <span class="fake_menu"></span>
            <span class="fake_submenu"></span>
          </a>
        </li>
      </ul>


      <section class="top-bar-section">
        <ul class="submenu right"
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list %}
        ></ul>
      </section>
    </nav>
  </div>
</div>
