<nav class="top-bar">
  <div class="container">
    <div class="row">
      <div class="large-3 large-offset-1 columns">
        <ul class="title-area">
          <li class="name"><a href="/" class="logo">{{ site.title }}</a></li>
        </ul>
      </div>
      <div class="large-7 columns">
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/team.html">Our team</a></li>
            <li><a href="/work.html">How we work</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/contact.html">Contacts</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</nav>