<ul class="pagination">
  {% if paginator.page == 1 %}
  <li class="page_item active">
    <span class="current-page page_link">1</span>
    {% else %}
  <li class="page_item">
    <a class="page_link " href="/">1</a>
    {% endif %}
  </li>

  {% for count in (2..paginator.total_pages) %}
  {% if count == paginator.page %}
  <li class="page_item active">
    <span class="page_link current-page">{{ count }}</span>
    {% else %}
  <li class="page_item">
    <a class="page_link" href="/page{{ count }}">{{ count }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
