@mixin verb($fs:14px) {
  font-family: 'verb_extraboldregular', sans-serif;
  font-size: $fs;
  font-weight: 900;
}

@mixin proxima($fs:14px) {
  font: {
    family: "Proxima Nova", "ProximaNova", "Montserrat", sans-serif;
    size: $fs;
  }
}

@mixin myriad($fs:14px) {
  font: {
    family: "Myriad Pro", "MyriadPro", "PT Sans", sans-serif;
    size: $fs;
  }
}

.smooth_shadow {
  @include box-shadow(0 2px 6px transparentize($black, 0.86));
}

.box {
  background: $white;
  border-radius: $mid_radius;
  @extend .smooth_shadow;
}

body {
  font-size: emCalc(20);
}
.inner {
  background: url("../images/pat_isometric.png") repeat;
}

.bg_gray {
  background: $light_gray;
}

.bg_white {
  background: $white;
}

.clearfix {
  @include clearfix;
}