$casual_screen: 1024px;
$nav_breakpoint: 935px;
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$below_casual: "only screen and (max-width:"#{$casual_screen}")";
$casual: "only screen and (min-width:"#{$casual_screen}")";
$below_nav: "only screen and (max-width:"#{$nav_breakpoint}")";

$below_small: "only screen and (max-width:"#{$small-screen}")";
$below_medium: "only screen and (max-width:"#{$medium-screen}")";
$below_large: "only screen and (max-width:"#{$large-screen}")";

@media #{$below_small} {
  .map_wrap {
    .big_heading {
      font-size: 70px;
    }
    .sub_heading {
      font-size: 22px;
      line-height: 130%;
    }
    .message {
      font-size: 20px;
      line-height: 120%;
    }
  }
  .slider_section {
    .orbit-bullets {
      width: 100%;
      position: relative;
      left: auto;
    }
    .orbit-timer {
      display: none;
    }
    .slider_wrap,
    .orbit-container {
      background: none;
      width: auto;
    }
    .slider_list {
      width: 100%;
      height: 100%;
      position: relative;
      top: auto;
      left: auto;
      margin: 0 auto;
      .slide_img {
        width: 100%;
        height: auto;
      }
      .orbit-caption {
        bottom: 70px;
        top: auto;
        left: 5%;
        width: 90%;
        .caption_p {
          font-size: emCalc(12px);
        }
      }
    }
    .screen_overlay {
      display: none;
    }
  }
}

@media #{$casual} {
  .orbit-caption {
    top: $slider_caption_top;
    left: ($slider_laptop_inner_width - $slider_laptop_caption_width)/2;
  }
}


@media #{$below_nav} {
  .top_menu_wrap {
    .logo {
      margin-left: 40px;
    }
    .top-bar-section {
      display: none;
    }
    .toggle-topbar {
      display: block !important;
    }
    .menu_button {
      display: block;
      &.hide {
        display: none;
      }
    }
  }
  .title-area {
    width: 100%;
  }
}

@media #{$below_large} {
  .logo {
    margin-left: 20px;
  }
}

@media #{$below_medium} {
  .job_section {
    .icon_circle {
      margin-left: -($circle_small_icon_diameter/2 - 10);
      width: $circle_small_icon_diameter;
      height: $circle_small_icon_diameter;
      line-height: $circle_small_icon_diameter;
      border-radius: ceil($circle_small_icon_diameter/2);
      > [class*="icon"] {
        line-height: $circle_small_icon_diameter;
      }
    }
  }
  .mid_slider_section {
    .slide_item {
      height: auto;
      padding: 0;
    }
  }
  .offer_section {
    .panel {
      .button {
        min-width: inherit;
      }
    }
    .offer_block {
      padding-bottom: 1px;
      margin-bottom: 20px;
      .heading {
        padding: 20px 15px;
      }
    }
    .icon_circle {
      line-height: $circle_mid_icon_diameter - 25;
      height: $circle_mid_icon_diameter - 25;
      width: $circle_mid_icon_diameter - 25;
      > [class*="icon"] {
        @include transform(scale(0.65, 0.65));
      }
    }
  }
  .slider_section {
    .orbit-bullets {
      width: 100%;
      position: relative;
      left: auto;
    }
    .orbit-timer {
      top: auto;
      bottom: 49px;
      right: 90px;
      height: 1px;
      width: 569px;
    }
    .orbit-bullets {
      bottom: 10px;
    }
    .slider_wrap,
    .orbit-container {
      width: $small-screen - 20;
      height: 430px;
      background-size: $small-screen - 20;
    }
    .slider_list {
      width: 570px;
      height: 356px;
      position: relative;
      top: 26px;
      left: auto;
      margin: 0 auto;
      .slide_img {
        width: 100%;
        height: auto;
      }
      .orbit-caption {
        bottom: 40px;
        top: auto;
        left: 5%;
        width: 90%;
        .caption_p {
          font-size: emCalc(12px);
        }
      }
    }
    .screen_overlay {
      width: 230px;
      height: 400px;
      right: 70px;
      background-size: 230px;
    }
  }
}

@media #{$below_casual} {
  .offer_section {
    .offer_block {
      min-height: inherit;
    }
  }
}

@media #{$below_small} {
  .job_summary {
    padding: 0 20px;
  }
  .slider_section {
    .slider_wrap,
    .orbit-container {
      width: auto;
    }
    .orbit-timer {
      display: none;
    }
    .slider_list {
      width: auto;
    }
  }
  .offer_section {
    .offer_block {
      min-height: inherit;
      .description {
        font-size: 15px;
      }
    }
  }
}
