.blog_section {
  padding: 52px 0;
  @extend .isometric_bg;
  .heading_one {
    text-align: center;
  }
  .post_date {
    @include lato(1.1em);
    text-align: center;
    color: $dirt_blue_lighter;
    padding: 5px 0 10px;
    display: block;
    background: $white_gray;
    border-radius: $radius;
    .month {
      display: block;
    }
    .day {
      display: block;
      font-size: 1.5em;
      line-height: 120%;
      font-weight: 900;
    }
  }
  .b_footer {
    .share {
      .comments_num {
        line-height: 12px;
        vertical-align: text-bottom;
      }
      @include myriad(16px);
      margin-top: 20px;
      padding: 6px 15px;
      background: $dirt_blue_lighter;
      border-radius: $mid_radius;
      .share_link {
        color: $white;
        @include inline-block(middle);
      }
    }
  }
}

.post_item {
  margin-bottom: 50px;
  .hr {
    border-bottom: 4px solid $dirt_licht_blue;
  }
  .header {
    .heading_one {
      @include lato(2em);
      font-weight: 400;
      line-height: 41px;
      color: $dark_blue;
      text-align: left;
      vertical-align: text-top;
      margin-top: 0;
      a {
        color: $dark_blue;
      }
    }
  }
  .post_meta {
    @include lato(1em);
    color: $dirt_blue_lighter;
    .author {
      color: $orange_shadow;
    }
    .category {
      color: $blue_lighter;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}

.author_wrap {
  $post_ava_size: 160px;
  .author {
    position: relative;
    float: left;
    padding: 20px;
    background: $blue url("../images/pat_blueprint_light.png") repeat;
    border-radius: 8px;
    box-shadow: inset 0 2px 1px transparentize($gray, 0.75);
    color: white;
  }
  .ava {
    width: $post_ava_size;
    height: $post_ava_size;
    border-radius: ceil($post_ava_size/2);
    float: left;
    margin-right: 15px;
  }
  .author_name {
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .social_link {
    color: white;
    display: block;
  }
}

.post_content {
  @include lato(1.15em);
  margin-top: 10px;
  .description {
    color: $mid_gray;
  }
  .post_thumb {
    border-radius: $radius;
    margin-bottom: 20px;
  }
  .continue_link {
    color: $blue_lighter;
  }
}

.inside_post {
  color: $mid_gray;
  .b_footer {
    .share {
      margin-bottom: 20px;
      background: $light_gray_3;
      .share_link {
        margin: 10px 5px;
        border-radius: $radius;
      }
    }
  }
}

.share {
  .icons-facebook_large {
    background-color: $facebook_color;
    &:hover {
      background-color: transparentize($facebook_color, 0.3);
    }
  }
  .icons-linkedin_large {
    background-color: $linkedin_color;
    &:hover {
      background-color: transparentize($linkedin_color, 0.3);
    }
  }
  .icons-twitter_large {
    background-color: $twitter_color;
    &:hover {
      background-color: transparentize($twitter_color, 0.3);
    }
  }
}
