.career {
  .mid_slider_section {
    .heading_one {
      font-size: 1.65em;
    }
  }
  .job_section {
    @extend .box;
    overflow: hidden;
    .header {
      padding: 0;
    }
  }
}

.job_application {
  padding: 60px 0 46px;
  .heading_two {
    @include lato(2.25em);
    font-weight: 900;
    text-align: center;
    color: $dark_blue;
  }
  .icon_wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icon_circle {
    margin: 0 auto;
    position: relative;
    left: 50%;
    margin-left: -($circle_mid_icon_diameter/2 - 10);
  }
}

$similar_project_thumb_size: 190px;
$job_section_inner_padding_left: 38px;
.job_section {
  color: $text_brown;
  margin-bottom: 37px;
  .header {
    @extend .bg_gray;
    border-bottom: 1px solid $light_gray;
    &:after {
      display: none;
    }
    .heading_one {
      @include lato(1.15em);
      font-weight: 400;
      color: $modern_green;
      margin-top: 25px;
    }
    .description {
      @include lato(0.8em);
      color: $text_brown;
      padding-right: 20px;
    }
  }
  .detailed {
    @include clearfix;
    padding-top: 30px;
    .col {
      float: left;
    }
    .heading_three {
      @include lato(1em);
      line-height: 24px;
      color: $modern_green;
    }
  }
}

.section_details {
  height: 0;
  @include transition(1s all ease);
  opacity: 0;
  &.active {
    height: auto;
    opacity: 1;
  }
}

.active {
  .section_details {
    display: block;
  }
}

.detailed_inner {
  padding-left: $job_section_inner_padding_left;
  padding-right: $job_section_inner_padding_left;
  .heading_two {
    @include lato(1em);
    line-height: 24px;
    color: $modern_green;
    text-align: left;
  }
  .paragraph {
    @include lato(0.8em);
  }
}

.job_summary {
  min-height: 71px;
}

.similar_projects {
  background: $explicit_gray;
  padding: 20px 0 20px;
  .heading_five {
    @include lato(1em);
    font-weight: 400;
    color: $dirt_blue;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
  }
  .list {
    text-align: center;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    .item {
      @include inline-block(middle);
      width: $similar_project_thumb_size;
      height: $similar_project_thumb_size;
      margin: 0 10px 15px;
      .thumb {
        display: block;
        background: $modern_green;
        border-radius: $radius;
        width: $similar_project_thumb_size;
        height: $similar_project_thumb_size;
      }
    }
  }
}

.application_form {
  padding: 20px 20px 0 50px;
  .heading_two {
    @include verb(30px);
    font-weight: 400;
    text-align: left;
    color: $modern_green;
  }
  form {
    margin-bottom: 0;
  }
}
