$offer_block_min_height: 500px;

.offer_section {
  background: url("../images/pat_isometric.png") repeat;
  padding-bottom: 70px;
  .s_header {
    margin-top: 60px;
    margin-bottom: 55px;
    .heading_one {
      font-size: 38px;
      font-weight: 900;
      color: $dark_blue;
      text-align: center;
      margin: 0;
    }
  }
  .message {
    font-size: 23px;
    color: $dark_blue;
    margin-bottom: 40px;
  }
  .panel {
    border-radius: $radius;
    margin: 0 15px 20px;
    @extend .smooth_shadow;
    .heading_two {
      font-size: 33px;
      font-weight: 900;
      color: $modern_green;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .message {
      font-size: 15px;
      color: $text_brown;
      margin: 0;
    }
    .button {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .offer_block {
    min-height: $offer_block_min_height;
    background: $white;
    border-radius: $mid_radius;
    @extend .smooth_shadow;
    .heading {
      color: $white;
      text-align: left;
      padding: 20px;
      background: $modern_green;
      border-radius: $mid_radius $mid_radius 0 0;
      .icon_circle {
        margin-right: 10px;
      }
      .icon_circle,
      .heading_wrap {
        @include inline-block(middle);
      }
    }
    .heading_wrap {
      text-align: left;
    }
    .subheading {
      font-size: 19px;
    }
    .heading_three {
      font-size: 30px;
      font-weight: 400;
      line-height: 0.9em;
      color: $white;
      white-space: nowrap;
      margin-top: 10px;
      margin-bottom: 0;
    }
    .description {
      font-size: 20px;
      color: $text_brown;
      padding: 0 20px 0;
      margin: 10px 0;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

.partners_section {
  background: $light_gray;
  @include box-shadow(0 -1px 7px transparentize($black, 0.9));
  position: relative;
  padding-top: 14px;
  padding-bottom: 50px;
  z-index: 10;
  .partners {
    @extend .row;
    text-align: center;
    .partner {
      @include inline-block(bottom);
      line-height: 60px;
      margin: 0 15px;
      .partners-logo_paypal {
        margin-bottom: -8px;
      }
      .partners-logo_stripe {
        margin-bottom: -6px;
      }
      >[class^="partners"] {
        @include inline-block(bottom);
        line-height: inherit;
        text-align: left;
        text-indent: -99999px;
      }
    }
  }
}
