$offer_block_min_height: 500px;

.offer_section {
  background: url("../images/pat_isometric.png") repeat;
  padding-bottom: 70px;
  .s_header {
    margin-top: 60px;
    margin-bottom: 55px;
    .heading_one {
      font-size: 38px;
      font-weight: 900;
      color: $dark_blue;
      text-align: center;
      margin: 0;
    }
  }
  .message {
    font-size: 23px;
    color: $dark_blue;
    margin-bottom: 10px;
  }
  .panel {
    border-radius: $radius;
    margin: 30px 15px 20px;
    @extend .smooth_shadow;
    .heading_two {
      font-size: 33px;
      font-weight: 900;
      color: $modern_green;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .message {
      font-size: 15px;
      color: $text_brown;
      margin: 0;
    }
    .button {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .offer_block {
    min-height: $offer_block_min_height;
    background: $white;
    border-radius: $mid_radius;
    @extend .smooth_shadow;
    .heading {
      color: $white;
      text-align: left;
      padding: 20px;
      background: $modern_green;
      border-radius: $mid_radius $mid_radius 0 0;
      .icon_circle {
        margin-right: 10px;
      }
      .icon_circle,
      .heading_wrap {
        @include inline-block(middle);
      }
    }
    .heading_wrap {
      text-align: left;
    }
    .subheading {
      font-size: 19px;
      font-weight: 300;
    }
    .heading_three {
      font-size: 30px;
      line-height: 40px;
      color: $white;
      white-space: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }
    .description {
      font-size: 17px;
      line-height: 24px;
      color: $text_brown;
      padding: 0 20px 0;
      margin: 10px 0;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

.partners_section {
  background: $light_gray;
  @include box-shadow(0 -1px 7px transparentize($black, 0.9));
  position: relative;
  padding-top: 24px;
  padding-bottom: 30px;
  z-index: 10;
  .partners {
    @extend .row;
    text-align: center;
    .partner {
      @include inline-block(bottom);
      line-height: 60px;
      margin: 0 15px;
      .partners-logo_paypal {
        margin-bottom: -8px;
      }
      .partners-logo_stripe {
        margin-bottom: -6px;
      }
      >[class^="partners"] {
        @include inline-block(bottom);
        line-height: inherit;
        text-align: left;
        text-indent: -99999px;
      }
    }
  }
}

$catch_section_min_height: 450px;
.catch_section {
  padding-top: 60px;
  background: $blue url("../images/pat_blueprint.png") repeat;
  .dark_bg {
    background: transparentize($black, 0.4);
  }
  .s_footer {
    padding-top: 36px;
    padding-bottom: 26px;
    margin-top: 20px;
    @extend .dark_bg;
    .message {
      font-size: 23px;
      color: $white;
    }
  }
  .map_message {
    position: absolute;
    top: 0;
  }
  .big_heading {
    font-size: 90px;
    font-weight: 900;
    color: $dark_blue;
    margin-bottom: 60px;
  }
  .sub_heading {
    font-size: 30px;
    font-weight: 700;
    color: $dark_blue;
    margin-bottom: 30px;
  }
  .message {
    font-size: 30px;
    line-height: 48px;
    color: $white;
  }
  .map_wrap {
    padding-bottom: 30px;
    line-height: $catch_section_min_height;
    min-height: $catch_section_min_height;
    position: relative;
    text-shadow: 0 3px 0 transparentize($dark_blue,0.75);
  }
}

