.team_wrap {
  @extend .blueprint_pat;
  padding-top: 70px;
  padding-bottom: 15px;
  >.row {
    >.columns {
      float: none;
      @include inline-block(top);
      margin-right: -3px;
    }
  }
}
$team_card_inner_pad: 25px;
$team_card_height: 270px;
$ava_diameter: 126px;
.team_member {
  @include clearfix;
  margin-bottom: 40px;
  min-height: $team_card_height;
  background: $white;
  border-radius: $mid_radius;
  @extend .smooth_shadow;
  .ava_wrap {
    padding: $team_card_inner_pad;
    position: relative;
  }
  .ava {
    display: block;
    width: $ava_diameter;
    border-radius: $ava_diameter/2;
    @include box-shadow(0 0 1px transparentize($blue,0.2));
  }
  .position {
    @include lato(0.95em);
    line-height: 40px;
    vertical-align: middle;
    color: $white;
    text-align: center;
    float: left;
    display: block;
    height: 40px;
    padding: 0 15px;
    background: $orange;
    margin-bottom: $team_card_inner_pad;
    margin-left: $team_card_inner_pad;
    border-radius: $radius;
  }
  .bio_wrap {
    padding: $team_card_inner_pad;
    .name {
      @include lato(1.750em);
      font-weight: 400;
      line-height: 24px;
      color: $light_brown;
    }
    .bio {
      @include lato(0.85em);
      line-height: 24px;
      color: $light_brown;
    }
  }
}
