$rounded_number_diameter: 100px;

.work_wrap {
  .work_detailed {
    .message {
      @include lato(1em);
    }
  }
}

.flexible_approach {
  color: $white;
  text-align: center;
  @extend .blueprint_pat_light;
  padding-bottom: 30px;
  .heading_two {
    font-size: 2.250em;
    font-weight: 900;
    color: $white;
    margin-top: 60px;
  }
}

.bordered_message {
  @include lato(1.15em);
  position: relative;
  padding: 35px 50px;
  border: 5px solid $white;
}

.or {
  content: 'OR';
  @include lato(2.25em);
  font-weight: 900;
  height: 48px;
  display: inline-block;
  margin-top: 280px;
}

.work_detailed {
  @extend .isometric_bg;
  padding: 5px 0 120px;
  .heading_two {
    font-size: 2.25em;
    font-weight: 900;
    color: $dark_blue;
    margin-top: 40px;
  }
  .rounded_number {
    font-style: normal;
    text-align: center;
    line-height: $rounded_number_diameter - 4;
    @include inline-block(baseline);
    margin-right: 20px;
    width: $rounded_number_diameter;
    height: $rounded_number_diameter;
    border: 4px solid $dark_blue;
    border-radius: $rounded_number_diameter/2;
  }
}
