<section class="team_member">
  <div class="row">
    <div class="columns large-4 small-12">
      <div class="ava_wrap">
        <img class="ava" src="images/team/roma.jpeg" alt="Roma"/>

      </div>
    </div>
    <div class="columns large-8 small-12">
      <div class="bio_wrap">
        <h1 class="name">Roma</h1>

        <p class="bio">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore inventore odit possimus quasi? Animi
          deserunt, dicta dolores ducimus iusto, laudantium libero magnam mollitia nobis officiis possimus qui
          reiciendis
          reprehenderit?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column large-12">
      <span class="position">junior ruby developer</span>
    </div>
  </div>
</section>
