---
layout: default
---
<div class="inner {{ page.slug }}">

  <div class="row">
    <div class="column large-12">
      <a class="button button_dark back_button" href="portfolio.html">Back to Portfolio</a>
    </div>
  </div>


  <article class="article">
    <div class="row">
      <div class="large-12 column">
        <div class="portfolio_box">
          <header class="header">
            <div class="row">
              <div class="column large-10 large-offset-1">
                <h1 class="heading_one">{{ page.title }}</h1>
              </div>
            </div>
          </header>

          <div class="row">
            <div class="column large-offset-1 large-10">
              <p>{{ page.description }}</p>
            </div>
          </div>

          <div class="row">
            <div class="column large-12">
              {% include sections/portfolio_slider.html %}
            </div>
          </div>

          <div class="row">
            <div class="column large-offset-1 large-10">
              {{ content }}
            </div>
          </div>

          <div class="related_projects">
            <div class="row">
              <div class="column large-10 large-offset-1">
                <h5 class="heading_five">Related projects</h5>
                <ul class="list">
                  <li class="item first"><a href="#"><img class="thumb" src=".." alt="similar projects"/></a></li>
                  <li class="item"><a href="#"><img class="thumb" src=".." alt="similar projects"/></a></li>
                  <li class="item"><a href="#"><img class="thumb" src=".." alt="similar projects"/></a></li>
                  <li class="item last"><a href="#"><img class="thumb" src=".." alt="similar projects"/></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </article>
</div>
