$footer-height: 438px;
//@include sticky-footer($footer-height, ".wrapper", ".footer_push", ".footer");

.footer {
  color: $white;
  background: $deep_blue;
  padding-top: 56px;
  padding-bottom: 26px;
  .logo_wrap {
    width: 100%;
    min-height: 100px;
    .logo {
      font-size: 30px;
      line-height: 2em;
      height: auto;
      position: relative;
    }
    .copyright {
      @include myriad(13px);
      color: $light_gray_2;
    }
  }
  .s_header {
    .heading_one {
      @include myriad(20px);
      font-weight: 400;
      text-align: center;
      color: $white;
      margin: 20px 0;
      padding-bottom: 15px;
      border-bottom: 1px solid $white;
    }
  }
}

.recent_posts_section {
  .post_heading {
    @include myriad(16px);
    line-height: 150%;
    color: $white;
    display: block;
    &:hover {
      color: $orange;
    }
  }
  p {
    @include myriad(13px);
    margin-bottom: 0;
  }
  .post_date {
    @include myriad(12px);
    color: $light_gray_2;
    display: block;
  }
  .posts_list {
    list-style: none;
  }
  .post_item {
    margin-bottom: 10px;
  }
}

.some_text_section {
  .message {
    @include myriad(13px);
  }
}

$contact_icon_wrap_width: 60px;
.contacts_section {
  .address_item {
    position: relative;
    margin-bottom: 20px;
  }
  .address_wrap {
    @include myriad(13px);
    line-height: 20px;
    padding-left: $contact_icon_wrap_width;
  }
  .icon_wrap {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: $contact_icon_wrap_width;
    >[class^="icons"] {
      @include inline-block(middle);

    }
  }
  .link {
    color: $white;
  }
  .tel_link {
    color: $white;
  }
}

.social_wrap {
  .hr {
    position: relative;
    &:after {
      content: ' ';
      display: block;
      width: 220px;
      height: 3px;
      position: absolute;
      left: 0;
      top: -4px;
      background: $explicit_gray;
    }
  }
  .social_label {
    @include myriad(20px);
    margin-right: 80px;
  }
  .social_icon {
    @include inline-block(middle);
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    background-color: $deep_ocean;
    &:hover {
      background-color: $sand;
    }
  }
}
