.top_menu_wrap {
  height: $nav_height;
  background: $deep_blue;
  .menu {
    height: $nav_height;
    margin-bottom: 0;
  }
  .menu_item {
    @include inline-block;
    height: $nav_height;
    .menu_link {
      font-size: 15px !important;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
      height: $nav_height;
      line-height: $nav_height;
      display: block;
      padding: 0 20px !important;
      vertical-align: middle;
      &:hover,
      &.active {
        background: $orange !important;
      }
    }
  }

}

.expanded {
  .submenu {
    position: relative;
    z-index: 999;
    .menu_item {
      width: 100%;
    }
  }
}

.logo {
  font-family: $verb;
  font-size: 30px;
  font-weight: normal;
  color: #fff !important;
  line-height: $nav_height;
  display: block;
  height: $nav_height;
  @include stretch-y;
  vertical-align: middle;
  margin-left: 10px;
  strong {
    font-weight: 900;
  }
}

