$slider_laptop_width: 1011px;
$slider_laptop_height: 581px;
$slider_laptop_inner_width: 770px;
$slider_laptop_inner_height: 480px;
$slider_laptop_caption_width: 720px;
$slider_laptop_overlay_width: 311px;
$slider_laptop_overlay_height: 483px;
$slider_caption_top: 330px;
.slider_section {
  background: $blue url("../images/pat_blueprint.png") repeat;
  .dark_bg {
    background: transparentize($black, 0.4);
  }
  .orbit-timer {
    top:auto;
    bottom: 67px;
    right: ceil(($slider_laptop_width - $slider_laptop_inner_width)/2);
    height: 1px;
    width: $slider_laptop_inner_width - 2;
    .orbit-progress {
      background: $modern_green;
    }
  }
  .s_header {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .heading_one {
    text-align: center;
    @include lato(1.9em);
    font-weight: 300;
    color: $explicit_gray;
    margin: 0;
    text-shadow: 0 1px 9px transparentize($black, 0.4);
  }
  .orbit-container,
  .slider_wrap {
    position: relative;
    width: $slider_laptop_width;
    height: $slider_laptop_height;
    background: url("../images/laptop.png") no-repeat 50%;
    margin: 0 auto;
  }
  .slider_wrap {
    &:hover {
      .orbit-caption {
        opacity: 1;
      }
    }
  }
  .orbit-slide-number {
    display: none;
  }
  .orbit-bullets {
    width: $slider_laptop_inner_width;
    margin: 0;
    position: absolute;
    left: ($slider_laptop_width - $slider_laptop_inner_width)/2;
    bottom: 70px;
    top: auto;
    text-align: center;
    z-index: 9;
    >li {
      @include inline-block;
      float: none;
      background: $light_gray_2;
      margin: 0 15px;
      border: none;
      width: 9px;
      height: 9px;
      border-radius: 5px;
      &.active {
        background: lighten($light_gray_2, 7%);
      }
    }
  }
  .orbit-prev {
    @extend .ui-left_arrow;
  }
  .orbit-next {
    @extend .ui-right_arrow;
  }
  .orbit-prev,
  .orbit-next {
    width: 22px;
    height: 33px;
    >span {
      display: none;
    }
  }
  .slider_list {
    width: $slider_laptop_inner_width;
    height: $slider_laptop_inner_height;
    overflow: hidden;
    position: absolute;
    top: 34px;
    left: ($slider_laptop_width - $slider_laptop_inner_width)/2;
    .slider_item {
      display: block;
      width: inherit;
      height: inherit;
    }
    .orbit-caption {
      font-size: 1.15em;
      font-weight: 300;
      text-align: center;
      padding: 0;
      width: $slider_laptop_caption_width;
      position: absolute;
      top: $slider_caption_top;
      bottom: auto;
      left: ($slider_laptop_inner_width - $slider_laptop_caption_width)/2;
      z-index: 10;
      background: transparentize($black, 0.5);
      border-radius: 5px;
      text-shadow: 0 1px 0 $black;
      opacity: 0.1;
      .heading_three {
        color: $white;
      }
      >.caption_p {
        font-size: inherit;
        line-height: inherit;
        padding: 10px;
        margin: 0;
      }
      a {
        color: $modern_green;
        text-decoration: underline;
      }
    }
  }
  .slide_img {
    position: relative;
    z-index: 8;
  }
  .screen_overlay {
    background: url("../images/screen_glare.png") no-repeat;
    width: $slider_laptop_overlay_width;
    height: $slider_laptop_overlay_height;
    position: absolute;
    top: 0;
    right: 94px;
    z-index: 9;
  }
  .s_footer {
    padding-top: emCalc(36);
    margin-top: emCalc(20);
    @extend .dark_bg;
    .message {
      font-size: 1.15em;
      color: $white;
    }
  }
}

.mid_slider_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background: $blue url("../images/pat_blueprint_light.png") repeat;
  .orbit-timer {
    display: none;
  }
  .orbit-container {
    text-align: center;
    background: none;
  }
  .orbit-bullets {
    text-align: center;
    >li {
      @include inline-block(middle);
      float: none;
      width: 12px;
      height: 12px;
      margin: 0 15px;
      background: $light_blue;
      border: none;
      border-radius: 6px;
      &.active {
        background: $white;
      }
    }
  }
  .orbit-slide-number {
    display: none;
  }
  .orbit-prev {
    @extend .ui-left_small_arrow;
  }
  .orbit-next {
    @extend .ui-right_small_arrow;
  }
  .orbit-prev,
  .orbit-next {
    width: 14px;
    height: 21px;
    >span {
      display: none;
    }
  }
  .slide_item {
    padding: 0 100px;
    color: $white;
    text-align: center;
    .heading_one {
      color: $white;
      font-weight: 400;
    }
    .icon_circle {
      margin: 0 auto;
    }
  }
}
